  *, *:before, *:after {
    box-sizing: border-box;
  }

body{
	align-items:center;
}
  .row {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
   align-content: center;
      width: 90%;
      height: auto;
  }
  .col {
   flex-wrap: wrap;
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer; 
   margin-top: 1rem;
   margin-bottom: 1rem;
   margin-left: .5rem;
   margin-right: .5rem;
  }
.col picture img{
 width: 100%;
 height: 100%;
   max-width: 100%; 
  object-fit: contain;
}
  
  #myBtn {
    display: block;
}
.madeby{
    display: flex;
    width: auto;
    align-items: center;
    text-align: center;
    justify-content: center;
}
  @media screen and (max-width: 750px) {
    .row {
        flex-direction: column;
    }
  }

.modal {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 101;
    width: 100%;
    background-color: white;  
    height: 100%;
  }

  .modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 75%;
    margin-top: 2rem;
  }

  div.direction{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .slide {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 90%;
    height: 100%;
    max-height: 100%;
  }

  .image-slide {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      max-width: 90%;
      height: 100%;
      max-height: 95%;
      -o-object-fit: contain;
      object-fit: contain;
      
  }
  .modal-preview {
      width: auto;
  }
  div.dots {
    position: absolute;
    bottom: 5%;
    display: flex;
    justify-content: center;
    height: 10px;
    width:150px;
    cursor: pointer;
  }
  div.dot{
    position: relative;
    width: 100%;
    height:100%;
  }
  img.dot{
    position: absolute;
    left: 0;
    top: 0;
    width: auto;
    height: 100%;
  }
  img.preview, img.modal-preview {
    opacity: 1;
  }
  @media screen and (max-width:440px){
  img.preview{
width: 100%;
  }
}
  img.active,
  .preview:hover,
  .modal-preview:hover {
    opacity: 0.8;
  }
  
  img.hover-shadow {
    transition: 0.3s;
  }
  
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  } 
  .close {
    color: black;
    position: absolute;
    top: .2em;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  .previous,
  .next {
    display: flex;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    padding: 0;
    color: black;
    font-weight: bold;
    font-size: 1.5rem;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }
  .previous{
   left: 5%;
  }
  .next {
   right: 5%;
  }
  div.direction{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
   }
   
  .previous:hover,
  .next:hover {
    background-color: transparent;
    color: rgb(219, 10, 10);
  }
  #close-pointer:hover{
      color: rgb(219, 10, 10);
  }

