* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
figure, figure img, picture{ 
display: flex;
} 

html{
    min-height: 100vh;
    height: 100%;
    width: 100%;
} 
body{
    width: 100%;
    min-height: 100vh;
    background: white;
    color: black;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
}

/* HEADER */
/* WICHTIG: Z-INDEX immer 101 */

.balkencontainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1.5rem;
    justify-content: center;
    align-items: center;
}

.balkentext{
    margin-top: -1rem;
    display: flex;
    align-items: baseline;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: auto;
    margin-right: 1%;
    z-index: 101;
}

.balkentext h4{
    padding-left: .3rem;
    padding-right: .3rem;

}

.balken_2{
    background-color: black;
    width: 100%;
    height: 100%;


}
.balken{
    background-color: black;
    width: 98%;
    height: 0.15rem;
}
.balken2{
    background-color: black;
    width: 25%;
    height: 0.11rem;
    margin-top: 0.25rem;
    margin-left: auto;
    margin-right: 1%;
}
.balken3{
    background-color: black;
    width: 17%;
    height: 0.11rem;
    margin-top: 0.25rem;
    margin-left: auto;
    margin-right: 1%;
}
#index{
    margin-bottom: 0;
}
header{
    position: relative;
    display: flex;
    background-color: white;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}
.header, .header-title {
    position: relative;
    display: flex;
    justify-content: center;
}
.header-title {
    display: flex;
    align-content: center;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    z-index: 1000;
    height: 100%;
    font-weight: lighter;
    letter-spacing: .6em;
}

.header-title a{
    text-decoration: none;
    list-style-type: none;
}

@media screen and (min-width:300px) {
    .header-title a span{
        font-size: 0.05rem;
    }
}
.header-title a span{
    color: black;
    font-size: 1.25rem;
    height: 100%;
    text-align: center;
    box-sizing:border-box;
    display: block;
    float: none;
    line-height: normal;
    position: static;
    z-index: auto;
}
.header-title p{
    color: black;
    text-decoration: none;
    list-style-type: none;
}
nav .menu{
    display: flex;
    flex: 1;
}
.menu-toggle {
    text-decoration: none;
    position: relative;
    left: 0%;
    margin-left: 1rem;
	}
.menu-toggle {
    display: none;
    background: url("black-point.png") no-repeat;
        background-position-x: 0%;
        background-position-y: 0%;
        background-size: auto;
    background-position: 50% calc(50% - .125rem);
    background-size: 1rem 1rem;
    bottom: 0;
    height: 100%;
    position: absolute;
    text-indent: -100rem;
    top: 0;
    left: 0;
    width: 5%;
    cursor: pointer;
    z-index: 1000;
}
nav.menu li{
display: flex;
align-content: center;
text-align: center;
align-items: center;
flex-direction: row;
letter-spacing: .3rem;
margin-right: 4rem;
margin-left: 4rem;
}
li.menu-item a{
    color: black;
    text-decoration: none;
    list-style-type: none;
}
li.menu-item a:hover{
    color:rgb(219, 10, 10);
}
nav.menu ul {
    display: flex;
    height: 100%;
    width: 100%;
}
nav.menu ul li {
    margin-left:2rem;
}
nav.menu {
background-size: 1rem 1rem;
bottom: 0;
height: 100%;
position: absolute;
width: 100%;
z-index: 101;
}
address{
    display: none;
    font-size: 1.25rem;
    text-decoration: none;
    text-decoration-style: none;
    color: black;
    letter-spacing: .3rem;
    width: 100ch;
    height: auto;
    width: 100%;
}
address div p a{
    font-size: 1.25rem;
    text-decoration: none;
    text-decoration-style: none;
    color: black;
    align-content: center;
    text-align: center;
    align-items: center;
}
/*.SHOW_MENU_START______________________________________________________________________________*/
#menu.show {
    display: none; 
	}
#navMenu.show { 
    left: 0;
    right: 0;
    top: 0; 
    bottom: 0;
    transform: translateY(-1.5rem); /*.DISTANCE OVERLAP ALL HEADER*/
    font-size: 1.75rem;
    letter-spacing: .6rem;
    min-width: 100vw;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    z-index: 101;
    background-color: red;
}
#nav-ul.show{
    transform: translateY(6rem);
    display: flex;
    top: 15%;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    height: auto;
}
#nav-ul.show.activePage{
color:yellow;
}

#nav-ul.show li{
    margin: 1.5rem;
}
#nav-ul.show li.menu-item a{
	color: black;
	z-index:101;
	}
#nav-ul.show li.menu-item a:hover, #address.show li.menu-item a:hover{
	color: white;
} /*Hover Work and About*/
#address.show{
    transform: translateY(6.5rem);
    color: white;
    background-color: red;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-decoration: none;
    height: auto;
	width: 55%;
	margin-top: auto;
	margin-bottom: 60%;
}
#address.show li a{
    font-size: 0.8rem;
    color: white;
}
/*SHOW_MENU_END___________________________________________________________________________*/
/*@media_START_____________________________________________________________________________*/
@media (max-width: 950px) {
    .menu-toggle {
        display: flex;
    }
    #nav-ul{
        display: none;
    } 
    .balkentext{
        display: none;
    }
}

@media (max-width: 1020px) {
    .balkentext{
        display: none;
    }
}
/*@media_END_______________________________________________________________________________*/

.workclass{ 
    display: flex;
    justify-content: center;
}

main{
    display: flex;
    justify-content: center;
    background-color: white;
    height: auto;
    width: 100%;
    color: black;
    font-size: 1rem;
    letter-spacing: .1rem;
    font-family: 'Courier New', Courier, monospace;
}


main ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content:center;
    align-items: center;
    text-align: center 
}
main ul li{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    list-style-type: none;
}
main ul li:hover{
    list-style-type: circle;
}

div.min-width{
    min-width: 100%;
}

/* FOOTER */
.footer-wrapper{
	height: auto;
	min-height: 20vh;
	display: flex;
	align-content: flex-end;
} 
footer{
    margin-top: auto;
    color: white;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 3rem;
    padding-bottom: 3rem;
    letter-spacing: .1rem;
    font-size: .75em;
}
footer p a {
    color: black;
    text-decoration: none;
}
.instagram{
    height: 100%;
    display: flex;
    align-content: space-around;
    align-items: center;
    margin-right: 3.5%;
    margin-left: 3.5%;
    margin-top: 0;
}
.copyright{
    height: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    margin-right: 2.5%;
    margin-left: 2.5%;
    margin-top: 0;
}
/* Scrollup Button________________________________________________________________ */
#myBtn {
    display: none;
    align-items: center;
    margin-right: 2rem;
    margin-left: auto;
    z-index: 99; /* not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color:transparent; /* background color */
    color: black; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 0rem; /* padding */
    border-radius: 0; /* Rounded corners */
    font-size: 1rem; /* Increase font size */
  }
 
  #myBtn:hover {
    color: rgb(219, 10, 10); /*  text on hover */
  }
/* END FOOTER */

.wrapper{
    margin-top: 2rem;
    text-align: center;
    font-size: 3rem;
    padding: 0 1em 0 1em;
}

.project-list{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
}
.project-image{
    margin: .5rem;
}

/* ACTIVE PAGE/HOVER */
.activePage a {
	color: rgb(219, 10, 10);
    text-decoration: none;
}

#workclass li:hover{
    color: rgb(219, 10, 10);
}

p.project-image:hover, .project-info:hover{
    color: rgb(219, 10, 10);
}
/* END ACTIVE PAGE/HOVER */
p.project-image{
    margin-bottom: 4rem;
}
.project-image img {
    width: 100%;
    height: 100%;
}
.project-info{
    color: black;
    text-decoration: none;
    list-style-type: none;
    position: relative;
}
.project-info p{
    position: absolute;
    width: auto;
    min-width: 100%;
    left: 0;
    top: -4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    letter-spacing: .25rem;
}

/* Studio PAGE LAYOUT */
.about{
    width: 100%;
    background: white;
    height: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: .25rem; 
    padding-bottom: .25rem;
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: center;
}
.about{
    font-size: 3em;
}
.internalabout{
    background: white;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: center;
    margin: .5rem;
    padding: .8rem;
}
.holdingcontainer {
    width: 100%;
    background: white;
    height: auto;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    margin-top: auto;
}
@media screen and (max-width:750px) {
    .holdingcontainer {
        flex-direction: column;
    }
}
.internalcontainerA {
    flex: 2;
    background: white;
    margin: .5rem;
    padding: 1rem;
}
.internalcontainerL {
    flex: 1;
    background: white;
    margin: .5rem;
    padding: 1rem;
}
.internalcontainerR {
    flex: 1;
    background: white;
    margin: .5rem;
    padding: 1rem;

}
.madeby{
    margin: .5rem;
    padding: .5rem;
    letter-spacing: .15em;
    font-size: 1em;
}
.madebyinfo{
    display: flex;
    width: auto;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: .5rem;
    padding: .5rem;
    letter-spacing: .1em;
    font-size: 0.9em;
}

figure.project1:hover{
    transform: translateY(0)
}
figure.project1:hover:before{
    opacity: 1;
}
figure.project1:hover .project-info1{
    opacity: 1;
    transform: translateY(0) ;
}

figure.project1{
    position: relative;
}
figure.project1:before{
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 2;
    transition: 0.3s;
    opacity: 0;
    
}
figcaption.project-info1{
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 5%;
    margin-top: 1.5rem;
    width: 100%;
    height: 100%;
}

.project1 .project-info1{
    position: absolute;
    z-index: 3;
    color: black;
    opacity: 0;
    transform: translateY(0);
    transition: 0.1s;
}
.project-info1 p {
    margin: 0;
    letter-spacing: .15rem;
}
